<%- include("header"); -%>
<div>
<img class="knight-img" src="public/images/knight.png" alt="">
<h1 id="h1-home">Battle Mind</h1>
</div>
<div class="Mbtn-home">
<form action="/" method="post">
<button class="btn btn-home">Start</button>
</form>
<button class="btn btn-home" id=""> <a href="#rules">Rules</a> </button>
<button class="btn btn-home" id=""><a href="#about">About Us</a></button>
</div>
<div class="picture">
    
    <div class="left-side" style="padding-top: 0; ">
        <img id="images" style="height:80px ;width: 80px; padding-top: 1.7%; " src="public/images/archer/archer-1.png" alt="">
    </div>
    <div class="left-side">
        <img id="images" src="public/images/warrior/warrior-1.png"  style="" alt="">
    </div>
    <div class="left-side-close">
        <img id="images" src="public/images/warrior/warrior-4.png" alt="">
    </div>
    <div class="left-side-close">
        <img id="images" src="public/images/warrior/warrior-4.png" alt="">
    </div>
    <div class="left-side-close">
        <img id="images" src="public/images/warrior/warrior-4.png" alt="">
    </div>
    <div class="left-side" style="margin-left: 30px;">
        <img id="images" src="public/images/warrior/warrior-3.png" style="padding-top: 1.5%;" alt="">
    </div>
    <div class="left-side" style="margin-left: 13%;">
        <img id="images" style="height: 50px; width: 50px; padding-top:1%;" src="public/images/warrior/warrior-5.png" alt="">
    </div>
    <div class="left-side-close">
        <img id="images" src="public/images/warrior/running-lion.png" alt="">
    </div>
   
    <div class="left-side-close" style="padding-left:15%;">
        <img id="images" style="height: 30px; width: 30px; padding-top: 5.3%;" src="public/images/warrior/zombie-right.png" alt="">
    </div>
    <div class="left-side-close" style="padding-left:0.5%;">
        <img id="images" style="height: 30px; width: 30px; padding-top: 5.3%;" src="public/images/warrior/zombie-2.png" alt="">
    </div>
    <div class="left-side-close" style="padding-left: 0%; margin-bottom:10px;">
        <img id="images" src="public/images/warrior/zombie-1.png" alt="">
    </div>
    <div class="left-side" style="margin-left: 10%;">
        <img id="images" src="public/images/archer/archer-3.png" alt="">
    </div>
    
    <div class="left-side-close" style="padding-left:2%;">
        <img id="images" style="height: 30px; width: 30px; padding-top: 5.3%;" src="public/images/warrior/zombie-2.png" alt="">
    </div>

</div>

<div class="Rules" id="rules">
      <h4>How To Play</h4>
      <section class="rule-img">
        <img src="public/images/rule-1.png" alt="">
        <h4>Rule 1</h4>
        <p>You Have To Safely Escort King To It's Castle. You Can Only Move One Step At A Time But You Don't Know Where Danger Lies</p>
      </section>
      <section class="rule-img">
        <img src="public/images/rule-2.png" alt="">
        <h4>Rule 2</h4>
        <p>At Each Step You Wii Be Given A Unique Riddle And Answer Of That Riddle Wii Be The Key To Move Forward </p>
      </section>
      <section class="rule-img">
        <img src="public/images/rule-3.png" alt="">
        <h4>Rule 3</h4>
        <p>Now As We Can See In The Picture You Are Given Two Option To Two Different Paths And One Of The Options Is Correcet Option To The Riddle. If You Choose The Option Correctly Then You Move Forward Otherwise You King Get's Murdered</p>
      </section>
      <section class="rule-img">
       
        <img src="public/images/rule-4.png" alt="">
        <h4>Rule 4</h4>
        <p>Now This is Last Obstacle Between King And His Castle. This Time You Will Be Provided With Riddle And You Have Enter The Answer Of That Riddle King Will Safely Enters His Castle Otherwise King Get's Murdered </p>
      </section>
      <form action="/" method="post">
        <button class="btn btn-home" id="btn-start-rules"> Play Game</button>
        </form>
</div>

<div class="Rules" id="about">
    <h4>About Us</h4>
</div>

<script>
    $(window).on('beforeunload', function() {
    $(window).scrollTop(0);
});
</script>