<%- include("header"); -%>

    <div class="heading">
        <img class="knight-img" src="public/images/knight.png" alt="">
        <h1 id="h1-home">Battle Mind</h1>
    </div>
    <div class="Mbtn-home">
        <form action="/" method="post" target="_blank">
            <button class="btn btn-home">Start</button>
        </form>
        <button class="btn btn-home" id=""> <a href="#rules">Rules</a> </button>
        <button class="btn btn-home" id=""><a href="#about">About Us</a></button>
    </div>

    <div class="potrait">
        <div class="picture">

            <div class="left-side">
                <img class="img1" src="public/images/archer/archer-1.png" alt="">
            </div>
            <div class="left-side">
                <img id="images" src="public/images/warrior/warrior-1.png" alt="">
            </div>
            <div class="left-side-close">
                <img id="images" src="public/images/warrior/warrior-4.png" alt="">
            </div>
            <div class="left-side-close">
                <img id="images" src="public/images/warrior/warrior-4.png" alt="">
            </div>
            <div class="left-side-close">
                <img id="images" src="public/images/warrior/warrior-4.png" alt="">
            </div>
            <div class="left-side">
                <img class="img3" src="public/images/warrior/warrior-3.png" alt="">
            </div>
            <div class="left-side" id="img2-flying">
                <img class="img2" src="public/images/warrior/warrior-5.png" alt="">
            </div>
            <div class="left-side-close">
                <img id="images" src="public/images/warrior/running-lion.png" alt="">
            </div>

            <div class="left-side-close" id="img4-zombie">
                <img class="img4" src="public/images/warrior/zombie-right.png" alt="">
            </div>
            <div class="left-side-close" style="padding-left:0.5%;">
                <img class="img4" src="public/images/warrior/zombie-2.png" alt="">
            </div>
            <div class="left-side-close">
                <img id="images" src="public/images/warrior/zombie-1.png" alt="">
            </div>
            <div class="left-side" id="zombie-horse">
                <img id="images" src="public/images/archer/archer-3.png" alt="">
            </div>

            <div class="left-side-close" id="zombie-hand">
                <img class="img4" src="public/images/warrior/zombie-2.png" alt="">
            </div>

        </div>
    </div>


    <div class="Rules" id="rules">
        <h4>How To Play</h4>
        <section class="rule-img">
            <img src="public/images/rule-1.png" alt="">
            <h4>Rule 1</h4>
            <p>You Have To Safely Escort King To It's Castle. You Can Only Move One Step At A Time But You Don't Know
                Where Danger Lies</p>
        </section>
        <section class="rule-img">
            <img src="public/images/rule-2.png" alt="">
            <h4>Rule 2</h4>
            <p>At Each Step You Wii Be Given A Unique Riddle And Answer Of That Riddle Wii Be The Key To Move Forward
            </p>
        </section>
        <section class="rule-img">
            <img src="public/images/rule-3.png" alt="">
            <h4>Rule 3</h4>
            <p>Now As We Can See In The Picture You Are Given Two Option To Two Different Paths And One Of The Options
                Is Correcet Option To The Riddle. If You Choose The Option Correctly Then You Move Forward Otherwise You
                King Get's Murdered</p>
        </section>
        <section class="rule-img">

            <img src="public/images/rule-4.png" alt="">
            <h4>Rule 4</h4>
            <p>Now This is Last Obstacle Between King And His Castle. This Time You Will Be Provided With Riddle And You
                Have Enter The Answer Of That Riddle King Will Safely Enters His Castle Otherwise King Get's Murdered
            </p>
        </section>
        <form action="/" method="post">
            <button class="btn btn-home" id="btn-start-rules"> Play Game</button>
        </form>
    </div>

    <div class="Rules" id="about">


        <div class="aboutUs">
            <h4>About Us</h4>

            <p>Welcome to our website! We are a team of tech enthusiasts and web developers, dedicated to exploring the latest advancements in the field and sharing our knowledge with others.

                Our team is made up of undergraduate students pursuing electronics and telecommunications engineering. We are constantly learning and experimenting with new technologies and languages, and we are excited to share our findings with the world through our website.
                
              we are dedicated to using our skills and knowledge to create innovative solutions and make a positive impact.
                
                Thank you for visiting our site. We hope you find our content informative and inspiring, and we look forward to connecting with you as we continue to explore the exciting world of technology and web development.</p>


            <div class="row">
                <div class="column">
                    <div class="card">  

                        <div class="container">
                            <h2 style="color: whitesmoke;">Sharv Dalal</h2>
                            <p class="title">Developer</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illum reiciendis ut
                                </p>
                                <div class="all-connect">
                                    <a  style="padding-left: 5.5rem;" class="first" href="https://www.linkedin.com/in/sharv-dalal-26367a236/" target="_blank" id="one-connect" ><img id="connect" src="public/images/linkedin.png" alt=""></a>
                                    <a href="https://www.instagram.com/sharv_dalal/" target="_blank" id="one-connect"><img id="connect" src="public/images/instagram.png" alt=""></a>
                                    <a href="https://github.com/sharvdalal" target="_blank" id="one-connect"><img id="connect" src="public/images/github.png" alt=""></a>
                               <a href="none" target="_blank" id="one-connect"><img id="connect" src="public/images/gmail.png" alt=""></a>
                            </div>
                            
                        </div>
                    </div>
                </div>



                <div class="column">
                    <div class="card">

                        <div class="container">
                            <h2 style="color: whitesmoke;">Chinmay Sabnis</h2>
                            <p class="title">Developer</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda non accusantium veniam
                                quam saepe nulla voluptas, inve.</p>
                             <div class="all-connect">
                            <a  style="padding-left: 5.5rem;" class="first" href="https://www.linkedin.com/in/chinmay-sabnis-3ab528204/" target="_blank" id="one-connect" ><img id="connect" src="public/images/linkedin.png" alt=""></a>
                            <a href="https://www.instagram.com/chinmay.00/" target="_blank" id="one-connect"><img id="connect" src="public/images/instagram.png" alt=""></a>
                            <a href="https://github.com/Schinmay31" target="_blank" id="one-connect"><img id="connect" src="public/images/github.png" alt=""></a>
                       <a href="https://mail.google.com/mail/u/2/#inbox" target="_blank" id="one-connect"><img id="connect" src="public/images/gmail.png" alt=""></a>
                    </div>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    
    <script>
        $(window).on('beforeunload', function () {
            $(window).scrollTop(0);
        });
        let a =window.innerWidth
      if( a< 700){
  console.log("hello");
}
    </script>