<%- include("header"); -%>
<body>
   <h1><em> Press Any Key To Start The Game </em></h1>

   <div class="button">
    <button type="submit" class="btn">Show Riddle</button>
    <button class="btn">Rules</button>
   </div>
<div class="container">
<div class="grid-container">
  
     <div class="box" id="img1"><img src="public/images/swordsman.png" alt=""></div>
     <div class="box" id="img2"></div>
     <div class="box" id="img3"></div>
     <div class="box" id="img4"></div>
     <div class="box" id="img5"></div>
 
     <div class="box" id="img6"></div>
    <div class="box" id="img7"></div>
    <div class="box" id="img8"></div>
    <div class="box" id="img9"></div>
    <div class="box"id="img10"></div>

  <div class="box" id="img11"></div>
  <div class="box" id="img12"></div>
  <div class="box" id="img13"></div>
  <div class="box" id="img14"></div>
  <div class="box" id="img15"></div>

  <div class="box" id="img16"></div>
  <div class="box" id="img17"></div>
  <div class="box" id="img18"></div>
  <div class="box" id="img19"></div>
  <div class="box" id="img20"></div>
  
  <div class="box" id="img21"></div>
  <div class="box" id="img22"></div>
  <div class="box" id="img23"></div>
  <div class="box" id="img24"></div>
  <div class="box" id="img25"><img  src="public/images/castle.png" alt=""></div>

</div>
 </div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
<script src="public/js/index.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>