body {
  background-color: #222629;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  position: relative;
  height: 35rem;    
  width: 35rem;     
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h1 {
  margin-top: 2 0px;
  margin-bottom: unset;
  font-size: 2.188rem;
  text-align: center;
  padding-bottom: 1.25rem;
  color: whitesmoke;
  font-weight: 900;

}
.mainPageHeading {
  /* visibility: hidden; */
   z-index: 2;
   margin: 20px auto;
   font-size: 2.188rem;
   text-align: center;
   padding-bottom: 1.25rem;
   color: whitesmoke;
   font-weight: 900;
 
 }
 .mainHeading{
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .mainStartButton{
   display: block;
   display: flex;
   justify-content: center;
   align-items: center;
 
 }
 .startButton{
  /* visibility: hidden; */

  margin:-83px 0;
  cursor: pointer;
  background-color: #61892F;
  color: whitesmoke;
  border-radius: 0.625rem;
  width: 9.688rem;
  height: 1.875rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  font-size: 0.90rem;
  margin-left: 1.25rem;

}

.button {
  text-align: center;
}

.btn {
  cursor: pointer;
  background-color: #61892F;
  color: whitesmoke;
  border-radius: 0.625rem;
  width: 6.688rem;
  height: 1.875rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  font-size: 0.75rem;
  margin-left: 1.25rem;
}

.btn:hover {

  color: #222629;
}

img {
  width: 16%;
  position: absolute;
}


.box {
  background-color: #61892F;
  border: solid 0.063rem black;
  line-height: 0px;
  padding: 0.625rem;
  overflow: hidden;
  margin: 0.031rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.box:hover {
  background-color: #79ab3c;
}

.box p {
  color: wheat;
}
.volumeButton{
  position: relative;
 
}
.muteUnmute{
  height: 35px;
  width: 35px;
  filter: invert(90%);
  right: 49px;
  top: -93px;
}
.mute{
  background-image: url(/public/images/volume-mute.png);
}




/* Home page css  */
.heading {
  background-color: #4d7023;
  width: 100%;
}
html{
  scroll-behavior: smooth;
}

.heading h1{
  color: whitesmoke;
  margin-top: 0;
  padding: 1.85rem;
  font-size: 3rem;
  font-family: cursive;
  text-shadow: 0.1rem 0.1rem #222629;
}

.knight-img {
  height: 6.8rem;
  width: 6.8rem;
  padding-top: 1.1rem;
  padding-left: 0.8rem;

}

.Mbtn-home {
  position: relative;
  height: 14.2rem;
  width: 20rem;
  margin: auto;
  margin-top: 6rem;                   
  text-align: center;
  /* margin-bottom: ; */
}

a {
  text-decoration: none;
  color: whitesmoke;
}
a:hover {
  color: #222629;
}

.potrait{
  width: 100%;
  height: 8rem;
  margin-top: 11.2rem;                       

}

.picture {
  position: relative;
  float: left;
  /* display: block; */
  justify-content: center;
  /* margin-top: 6.3rem; */
  width: 100%;
  height: 7.2rem;            
  border: solid 0.15rem black;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;

}

#images {
  height: 5.3rem;        
  width: 5.2rem;        
  margin-left: 2rem;        
  padding-top: 1.70rem;
}

.left-side {
  float: left;
  width: 5rem;
  padding: 0.4rem;
}

.left-side-close {
  float: left;
  width: 1rem;
  padding: 0.25rem;
  /* padding-left: 0px; */
}

.btn-home {
  border: solid 3.5px black;
  font-size: 1.2rem;
  height: 3.2rem;          
  width: 13rem;            
  font-family: cursive;
  margin: 1rem;
}

.Rules {
  text-align: center;
  padding: 1rem;
  height: auto;
  width: 80rem;        
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h4 {
  font-size: 2.5rem;
  color: whitesmoke;
  font-family: cursive;
}
.aboutUs p{
  word-spacing: 0.3rem;
  padding: 20px;
}

.rule-img img {
  position: relative;
  float: left;
  height: 19rem;
  width: 22rem;

}

p {
  color: whitesmoke;
  font-family: cursive;
  padding-left: 1rem;
  padding-right: 1rem;
}


.rule-img {

  border: solid 2px grey;
  height: 20rem;
  width: auto;
  margin-top: 1rem;
  cursor: pointer;
}

.img1 {
  height: 6rem;         
  width: 6rem;          
  padding-top: 1rem;
}

.img2 {
  height: 3.5rem;         
  width: 3.5rem;          
  padding-top: 0.3rem;
}

#img2-flying {
  margin-left: 19rem;   
}

.img3{
  height: 5rem;         
  width: 5rem;            
  padding-top: 0.7rem;        
  margin-left: 5rem;   
}

.img4 {
  height: 1.8rem;
  width: 2rem;
  padding-top: 5.3rem;    
}

#img4-zombie {
  margin-left: 15rem;   
}

#zombie-horse {
  margin-left: 9rem; 
}

#zombie-hand {
  margin-left: 2.5rem; 
}


.aboutUs {

  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

.column {
  float: left;
  width: 33.3%;
  margin: 8.2rem;    
  padding: 0 0.2rem;   
  
}

.row {
  display: flex;
  justify-content: center;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.1rem;  
}

.container {
  padding: 0 0.5rem;  
}
.container h2 {
  padding-top:8% ;  
}


.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}


.button:hover {
  color: black;
}
.all-connect{
padding-bottom: 1rem;
}

.all-connect a{
  display: block;
  padding: 1.2rem;
  padding-top: 1rem;
}

#one-connect{
  display: inline;
  float: left;
  padding-bottom: 3rem;

}
#connect{
  padding-left: 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
}



/* JS Page Css */
.game-over {
  background-color: red;
  opacity: 3;
}

.swal-modal {
  background-color: #222629;

}

.swal-title {

  font-size: 20px;
  margin-bottom: 20px;
  color: whitesmoke;
}

.swal-button {

  background-color: #61892F;
}

.swal-text {
  font-size: 20px;
  color: whitesmoke;
}

/* .swal-overlay {
        background-color: #222629;
      } */
/* .swal-button:hover{
         color: #79ab3c; 
        background: #222629;
      }   */
.correctPath {
  background-color: #79ab3c;
}

.fireworksDiv{
  position: absolute;
  
  height: 500px;
  width: 100%;
  
  top: 25%;
  
}




  @media only screen and (min-width:1180px) and (max-width: 1380px){
  
 .grid-container{
  height: 28.75rem;    
  width: 28.75rem;     
}
.Mbtn-home{
  margin-top: 3rem; 
}
.picture{
  height: 6.2rem; 
}
.potrait{
  margin-top: 5.8rem;  
}
#images{
  margin-left: 1rem;
  height: 4.3rem;        
  width: 4.2rem;        

}
.btn-home{
  height: 2.8rem;          
  width: 10rem;  
}
.Rules{
  width: 70rem;  
}
#img2-flying{
  margin-left: 12rem;
}
.img3{
  margin-left: 3rem; 
  height: 4rem;         
  width: 4rem;  
}
.img2 {
  height: 3rem;         
  width: 3rem;
}
.img4{
  padding-top:4.3rem;
}
#img4-zombie{
  margin-left: 12rem; 
}
#zombie-horse {
  margin-left: 7rem; 
}
#zombie-hand {
  margin-left: 1rem; 
}
.img1 {
  height: 5rem;         
  width: 5rem;          
  padding-top: 1rem;
}
.column{
  margin: 5rem;
  padding: 0 0.2rem;
}

}  

 @media only screen and (min-width:400px) and (max-width: 600px){  /* for mobile phones
*/ 
/* .heading{
  width: 100%;
} 
.heading h1{
  width: 100%;
} */

.Mbtn-home {
  height: 10rem;
  width: 15rem;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;                   
}
.btn-home {
  font-size: 1rem;
  height: 2.5rem;          
  width: 8rem;            
  margin: 1rem;
}

.potrait{
 
 width:100%;
 margin-bottom: 0rem;
display: none;
  
}
.left-side{
  padding-left: 0;
  margin-left: 0;
}
 .grid-container{

   height: 28.75rem;    
   width: 28.75rem;     
 }
 .muteUnmute{
  height: 30px;
  width: 30px;
  filter: invert(90%);
  right: 20px;
  top: -63px;
}
.Rules {
  
  width: 21.5rem;
  display: inline-block;   
  justify-content: center;      
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 3rem;
  
}

.rule-img {

  height: 38rem;
   justify-content: center;
  width: 25rem;
  margin-top: 1rem;
  cursor: pointer;
}
.rule-img img{
margin-left: 1.2rem;
}
.row{
  justify-content: center;
  display: inline-block;
}
.column {
  display: inline-block;
  width: 60%;
  margin:0rem;    
  padding-bottom: 2rem;   
}
.card{
  float: left;
  width: 24.5rem;
}
.container{
  justify-content: center;
  display: block;
  width: 25rem;
}


 .grid-container{
margin-left :5rem;
  height: 20rem;    
  width: 20rem;     
}

.box {
 font-size: 0.5rem;
}
.muteUnmute{
 height: 30px;
 width: 30px;
 filter: invert(90%);
 right: 20px;
 top: -63px;
} 
 
 }   